
::placeholder {
    color: white;
    opacity: 1; /* Firefox */
  }


input, select, textarea{
    color: white;
    font-size: 40px;
}

.search {
    border: 1px solid transparent;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    padding: 2px 23px 0px 30px;
    outline: 0;
    background-color: transparent;
}

.search-icon {
    position: absolute;
    top: 15px;    
    width: 28px;
}

.clear-icon {
    position: absolute;
    top: 9px;
    right: 8px;
    width: 12px;
    cursor: pointer;
    visibility: hidden;
}

.search:hover, .search:focus {
    
    background-color: transparent;
}

.title{
    width: 601px;
    height: 19px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #7fb3ff;
}


    /* Style the active class, and buttons on mouse-over */
.active, .specialbutton:hover {
    
    color: white;
}

